.home {
	margin-left: 60px;
}

.home h1 {
	text-align: center;
}

.home h2 {
	margin-bottom: 15px;
}

.home ul li {
	font-size: 20px;
}

.home ul li:before {
	content: "â­ ";
}
/* BOOK SEARCH */
section.book-comparison-top { padding-top: 50px; text-align: center; }
section.book-comparison-top h2.section-title { margin: 30px 0; }
section.book-comparison-top h2.section-title:after { display: none; }

.book-search form { margin: 60px auto; }
button.find { min-width: 200px; }
.comparison-report { text-align: left; }

/* SELECTED BOOK */
.selected-book {
	width: 550px;
}
.selected-book > * { display: table-cell; vertical-align: middle; padding: 0 15px}
.selected-book > .book-cover { max-width: 87px; padding: 4px; border: 1px solid #ddd; float: left; }
.selected-book .book-title { font-weight: bold; }
/* COMPARISON TABLE */
table.dataTable.book-comparison-table { margin-bottom: 30px; width: 100%; border-collapse: collapse; border-top: 1px solid #ddd; }
table.dataTable.book-comparison-table th { text-align: center; border-bottom: 1px solid #ddd; padding: 10px; vertical-align: bottom; font-weight: normal }
table.dataTable.book-comparison-table td { padding: 10px; border-bottom: 1px solid #eee; text-align: center; vertical-align: middle; }

table.dataTable.book-comparison-table thead th[rowspan='2'].sorting,
table.dataTable.book-comparison-table thead th[rowspan='2'].sorting_asc,
table.dataTable.book-comparison-table thead th[rowspan='2'].sorting_desc,
table.dataTable.book-comparison-table thead th[rowspan='2'].sorting_asc_disabled,
table.dataTable.book-comparison-table thead th[rowspan='2'].sorting_desc_disabled { background-position: 100% 87%; }

table.dataTable.book-comparison-table th.book-info,
table.dataTable.book-comparison-table td.book-info  { text-align: left; }
table.dataTable.book-comparison-table td.book-info img { margin-right: 10px; width: 50px; border-radius: 3px; float: left; }
/* table.dataTable.book-comparison-table td.book-info > div { width: 200px; } */
table.dataTable.book-comparison-table td.book-info > div > strong { display: block; color: #fd3100 }

table.dataTable.book-comparison-table .th-logo { margin: 0 auto; width: auto; max-height: 31px; }

table.dataTable.book-comparison-table tr.your-book td { background: #ffc; }
table.dataTable.book-comparison-table tr.your-book { border: 2px solid #fd3100; }


span.comp-score { margin-right: 5px; width: 32px; height: 32px; background: #fe3100;
	border-radius: 50%; font-size: 14px; color: #fff; display: inline-block; line-height: 32px; text-align: center;}
span.comp-score + a { font-size: 12px; }

table.dataTable.book-comparison-table col.amazon,
table.dataTable.book-comparison-table col.google { background: #f9f9f9; border-bottom: 1px solid #ddd; border-right: 1px solid #eee; }
table.dataTable.book-comparison-table col.goodreads { background: #fff; border-bottom: 1px solid #eee; border-right: 1px solid #eee; }

table.dataTable.book-comparison-table col.amazon { border-left: 1px solid #eee; }

table.dataTable.book-comparison-table tbody tr { background: none; }
table.dataTable.book-comparison-table col.google.last { border-right: 0; }
